body {
  background-color: black;
  box-sizing: border-box;
}

.App {
  text-align: center;
  perspective: 1000px;
  height: 100vh;
}
.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 50vh;
  width: 50vh;
  margin: 0 auto;
}

.player {
  transform-style: preserve-3d;
  transform: rotateX(60deg);
  transform-origin: top;
  /* perspective-origin: 100%; */
}

.peg {
  border: 1px solid white;
}

.opponent .peg:hover {
  background-color: #00ff00;
}

.player .peg:hover {
  background-color: aqua;
}