body {
  background-color: black;
}

.App {
  text-align: center;
  perspective: 500px;
}
.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 50%;
}
.opponent {
  width: 50%;
  margin: 0 auto;
}
.player {
  width: 50%;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateX(60deg)
}

.peg {
  border: 1px solid white;
}

.opponent .peg:hover {
  background-color: green;
}